appdirs==1.4.3  
click==6.7  
Flask==0.12  
boto3==1.4.4
gunicorn==19.6.0  
itsdangerous==0.24  
Jinja2==2.9.5  
MarkupSafe==0.23  
packaging==16.8  
requests==2.13.0  
Werkzeug==0.11.15
cloudsight==0.9.2
Pillow==4.0.0
-e git+https://github.com/nvie/rq.git@5660f925ae99f4a13f0bb12414354836fa48dd25#egg=rq
six==1.10.0
redis==2.10.5


